@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 2%;
    
    --foreground: 0 0% 100%;

    --card: 0 0% 4%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 100%;

    --primary: 183 100% 50%;
    --primary-foreground: 0 0% 0%; /* Neon üstüne siyah yazı okunur */

    --secondary: 50 96% 48%;
    --secondary-foreground: 0 0% 0%;

    --accent: 183 100% 50%;
    --accent-foreground: 0 0% 0%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    
    --ring: 183 100% 50%;

    --radius: 0.2rem;
  }
}

@layer base {
 
  body {
    
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f3ff;
}