@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Inter:wght@300;400;600&display=swap');

body {
  background-color: #050505;
  /* Temayı baştan siyah yapıyoruz */
  color: white;
  overflow-x: hidden;
}